<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="is_hostname">SAG-595V7S3.mshome.net</value>
    <value name="is_identifier">b83a86b6-fc5c-471c-9704-c093dccbba88</value>
    <value name="library_username"></value>
    <value name="library_url"></value>
  </record>
</IDataXMLCoder>
