div.Title
{
  color: #666666;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

.Title_outer
{
  margin-bottom: 6px;
  margin-top: 25px;
}

.Title_inner
{
  color: #666666;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 16pt;
}

.Heading_1_outer
{
  margin-bottom: 6px;
  margin-top: 16pt;
}

.Heading_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Body_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Body_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell_Head
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Table_Cell_Head_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Table_Cell_Head_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Table_Cell_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Table_Cell_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_2
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.45em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

.Heading_2_outer
{
  margin-bottom: 6px;
  margin-top: 25px;
}

.Heading_2_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.45em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Section_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Section_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Reference_Syntax
{
  color: #FF8000;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Reference_Syntax_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Reference_Syntax_inner
{
  color: #FF8000;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section_Title
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

.Section_Title_outer
{
  margin-bottom: 6px;
  margin-top: 25px;
}

.Section_Title_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Simple_List_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

.Simple_List_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

.Simple_List_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

.List_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

.List_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Important
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Important_outer
{
  background-color: #E5E4E4;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Important_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Note_outer
{
  background-color: #E5E4E4;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Note_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

.List_2_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
}

.List_2_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2_Continued
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.List_2_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.List_2_Continued_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_3
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 54pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

.List_3_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 54pt;
  padding-top: 0pt;
}

.List_3_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1_Continued
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.List_1_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.List_1_Continued_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Note_1_outer
{
  background-color: #E5E4E4;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Note_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.apiname-only
{
  color: #FF8000;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 12pt;
  margin-bottom: 4pt;
  margin-top: 4pt;
}

.apiname-only_outer
{
  margin-bottom: 4pt;
  margin-top: 4pt;
}

.apiname-only_inner
{
  color: #FF8000;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 12pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

.Numbered_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

.Numbered_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Preformatted_1
{
  background-color: #E5E4E4;
  color: #333333;
  font-family: monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 18pt;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  white-space: pre;
}

.Preformatted_1_outer
{
  background-color: #E5E4E4;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.Preformatted_1_inner
{
  color: #333333;
  font-family: monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  white-space: pre;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.internalheadrule
{
  border-bottom-color: #007096;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

.internalheadrule_outer
{
  border-bottom-color: #007096;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 6px;
  margin-top: 9px;
}

.internalheadrule_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Description
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Table_Description_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Table_Description_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1_Continued
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Numbered_1_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Numbered_1_Continued_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Context
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Context_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Context_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 3pt;
  padding-left: 18pt;
  padding-top: 3pt;
  text-indent: -18pt;
}

.Step_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 3pt;
  padding-left: 18pt;
  padding-top: 3pt;
}

.Step_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Choice_2
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

.Choice_2_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
}

.Choice_2_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Choice_2_Continued
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Choice_2_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

.Choice_2_Continued_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note_2
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 36pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Note_2_outer
{
  background-color: #E5E4E4;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

.Note_2_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_1_Continued
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

.Step_1_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Step_1_Continued_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_Info_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

.Step_Info_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Step_Info_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body_1
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

.Body_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

.Body_1_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Preformatted
{
  background-color: #E5E4E4;
  color: #333333;
  font-family: monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  white-space: pre;
}

.Preformatted_outer
{
  background-color: #E5E4E4;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.Preformatted_inner
{
  color: #333333;
  font-family: monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  white-space: pre;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_2
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

.Numbered_2_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
}

.Numbered_2_inner
{
  color: Black;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Appendix
{
  color: #666666;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

.Appendix_outer
{
  margin-bottom: 6px;
  margin-top: 25px;
}

.Appendix_inner
{
  color: #666666;
  font-family: Arial; Helvetica; sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.apiname, abbreviation.apiname, acronym.apiname, citation.apiname
{
  font-family: monospace;
}

span.varname, abbreviation.varname, acronym.varname, citation.varname
{
  font-style: italic;
}

span.bisdatatype, abbreviation.bisdatatype, acronym.bisdatatype, citation.bisdatatype
{
  font-weight: bold;
}

span.ph_002c_Citation, abbreviation.ph_002c_Citation, acronym.ph_002c_Citation, citation.ph_002c_Citation
{
  font-style: italic;
}

span.codeph, abbreviation.codeph, acronym.codeph, citation.codeph
{
  font-family: monospace;
}

span.term, abbreviation.term, acronym.term, citation.term
{
  font-family: Arial; Helvetica; sans-serif;
  font-style: italic;
}

span.emphasis, abbreviation.emphasis, acronym.emphasis, citation.emphasis
{
  font-style: italic;
}

span.uicontrol, abbreviation.uicontrol, acronym.uicontrol, citation.uicontrol
{
  font-family: Arial; Helvetica; sans-serif;
  font-weight: bold;
}

span.ph_002c_emphasis, abbreviation.ph_002c_emphasis, acronym.ph_002c_emphasis, citation.ph_002c_emphasis
{
  font-style: italic;
}

span.inlinetitle, abbreviation.inlinetitle, acronym.inlinetitle, citation.inlinetitle
{
  font-weight: bold;
}

span.Bold
{
  font-weight: bold;
}

span.Bold
{
  font-weight: bold;
}

table.rules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
  padding-right: 20pt;
}

table.norules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.NoRules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.rules2
{
  margin-bottom: 9pt;
  margin-left: 19pt;
  margin-top: 5pt;
}

table.rules3
{
  margin-bottom: 9pt;
  margin-left: 37pt;
  margin-top: 5pt;
}

table.NoRules2
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

