<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="urn:Eclipse-Plugin-Schema">
  <!-- TOC -->
  <!--     -->
  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="true" />
  </extension>
  <!-- Index -->
  <!--       -->
  <extension point="org.eclipse.help.index">
    <index file="index.xml" />
  </extension>
  <!-- Contexts -->
  <!--          -->
  <extension point="org.eclipse.help.contexts">
    <contexts file="contexts.xml" />
  </extension>
</plugin>