body {
    color: #666;
    background-color: #fff;
    font-size: 1rem;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', Arial, Sans-Serif;
    line-height: 1;
}

#FW-canvas{
	height: 100%;
	margin:0pt auto;
	float:left;
	padding:15px;
}

#HP-containerContent{
	padding-left: 30px;
}
#headpart{
	margin-top: 10px;
	margin-bottom:10px;
	padding-left: 20px;
	background-color: #0899cc;
	height: 50px;
}
.CO-clearfix{
	padding-bottom:0pt;
	display:block;
	clear:both;
	min-width:0pt;
}
.bold-font{
	font-weight:bold;
}
#FW-footer{
	margin-top:10px;
	margin-bottom:30px;
}
h1{
	font-size:22px;
	font-weight:500;
	margin-top:20px;
}
h2{
	font-size : 16px;
	margin-top:20px;
	margin-bottom:30px;
}
#FW-copyright{
	color: #666;
	float:left;
	font-size:11px;
	font-weight:normal;
}
#scope-list{
	display:block;
	padding-bottom:10px;
}
#scope-div{
	margin-bottom: 20px;
}
#actions-div{
	margin-bottom: 20px;

}
#all-selection{
	margin-bottom: 20px;
}
#approve-span{
	padding-left:6px;
}
input[type='checkbox']{
	vertical-align:middle;
	position:static;
}
#label-name{
	padding-left: 20px;
	color: #333;
}

.btn {
    border-radius: 0px;
    height: 34px;
}

.btn-primary {
    background-color: #0899cc;
    border: 1px solid #0899cc;
    min-width: 60px;
}

.btn-primary:hover {
    background-color: #006F97;
}

.btn-primary i {
    color: #fff !important;
    margin-right: 5px;
}

.btn-secondary {
    border: 1px solid #c6dce4;
    background-color: #ecf1f6;
    color: #0899cc;
    min-width: 60px;
}

.btn-secondary:hover {
    border: 1px solid #c6dce4;
    background-color: #e1ebf5;
    color: #0899cc;
}

.btn-secondary i {
    color: #0899cc;
    margin-right: 5px;

}

/*checkbox */

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display:none;
}

[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    line-height: 15px;
	font-weight: 400;
}

[type="checkbox"]:checked + label:after  {
    opacity: 1;
}

[type="checkbox"]:hover + label:hover::before {
    border: 1px solid #0899cc;
    box-shadow: 0 0 1px 0 #0899cc;
}

[type="checkbox"] + label::before {
    background-color: #fff;
    border: 1px solid #8c8c8c;
    content: '';
    height: 13px;
    left: 0px;
    position: absolute;
    width: 13px;
	top: 1px;
}

[type="checkbox"]:checked + label::before {
    border: 1px solid #0899cc !important;
}

[type="checkbox"] + label::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #0899cc;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    height: 10px;
    left: 5px;
    opacity: 0;
    position: absolute;
    transform: rotate(45deg);
    width: 5px;
	top: 2px;
}